* {
    margin: 0;
    padding: 0;
}

html,
body {}

.wrapper {
    position: relative;

}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');



@font-face {
    font-family: '../fonts/Bender-Black';
    src: url('../fonts/Bender-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Bender-Black.otf') format('opentype'),
        url('../fonts/Bender-Black.woff') format('woff'), url('../fonts/Bender-Black.ttf') format('truetype'), url('../fonts/Bender-Black.svg#Bender-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'TTRounds-Black';
    src: url('../fonts/TTRounds-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/TTRounds-Black.otf') format('opentype'),
        url('../fonts/TTRounds-Black.woff') format('woff'), url('../fonts/TTRounds-Black.ttf') format('truetype'), url('../fonts/TTRounds-Black.svg#TTRounds-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'PTSans-Regular';
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-Regular.woff') format('woff'), url('../fonts/PTSans-Regular.ttf') format('truetype'), url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



html,
body {
    font-family: 'PTSans-Regular';
}



header {
    padding-top: 30px;
}

.navbar-inverse {
    background-color: #FBC300 !important;
    border-color: #FBC300 !important;
}




/* Dots */
.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -10px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    border: 4px solid #fbc300 !important;
    border-radius: 50px;
    background: #fff;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    text-align: center;
    opacity: 0;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
    width: 10px;
    height: 10px;
    background: #FBC300 !important;
    border-radius: 33px;
    margin-left: 5px;
    margin-top: 5px;
}

button.slick-prev.slick-arrow {
    background: url(../img/la.png) 0 0 no-repeat;
}





.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #FBC300 !important;
    font-size: 34px;
    padding-left: 1px;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
    color: #FBC300 !important;
    font-size: 31px;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    border: 2px solid #fbc300 !important;
}

.slick-dots.slick-active li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    border: 2px solid #fbc300 !important;
    border-radius: 50px;
}

body .slick-active button {
    border: 2px solid #fbc300 !important;
}


section.slider-slt button.slick-prev.slick-arrow {
    background: url(../img/la.png) 0 0 no-repeat;
    border: 0 !important;
    height: 37px;
    width: 110px;
    font-size: 14px;
    padding-left: 7px;
    position: absolute;
    left: 37%;
    bottom: -18px;
    z-index: 10;
}

section.slider-slt button.slick-next.slick-arrow {
    background: url(../img/ra.png) 0 0 no-repeat;
    border: 0 !important;
    height: 37px;
    width: 110px;
    font-size: 14px;
    padding-left: 7px;
    position: absolute;
    right: 37% !important;
    bottom: -18px;
    z-index: 10;
}

.content {
    padding-bottom: 185px;
}

.slick-slide img {
    display: block;
    max-width: 100%;
}

.slick-slide img {
    display: block;
    height: 400px;
    object-fit: cover;
    width: 100%;
}


.slick-arrow:hover {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

section.slider-slt {
    margin-top: 35px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 134px;
    background: #fff;
    border-top: 1px solid #cccccc;
}

.slide-img {
    position: relative;
}

.s1-hds {}


.s2-hds {
    position: absolute;
    width: 500px;
    height: 100%;
    background: url(../img/s3.png) 0 0 no-repeat;
    background-position: left;
    margin-left: -111px;
    z-index: 99;
}


.s3-hds {
    position: absolute;
    right: 0;
    width: 500px;
    height: 100%;
    background: url(../img/s2.png) 0 0 no-repeat;
    background-position: right;
    margin-right: -111px;
    z-index: 99;
}



.s4-hds {
    position: absolute;
    right: auto;
    width: 100%;
    height: 239px;
    background: url(../img/s1.png) 0 0 no-repeat;
    background-position: bottom;
    top: -43px !important;
    z-index: 99;
}


.s1-hds {
    position: absolute;
    right: auto;
    width: 100%;
    height: 239px;
    background: url(../img/s4.png) 0 0 no-repeat;
    background-position: top;
    bottom: -13px !important;
    z-index: 2;
}

.container {
    position: relative;
}




.s2w-hds {
    position: absolute;
    width: 500px;
    height: 100%;
    background: url(../img/s3.png) 0 0 no-repeat;
    background-position: left;
    margin-left: -112px;
    z-index: 99;
}


.s3w-hds {
    position: absolute;
    right: 0;
    width: 500px;
    height: 100%;
    background: url(../img/s2.png) 0 0 no-repeat;
    background-position: right;
    margin-right: -112px;
    z-index: 99;
}



.cont-and-logo {
    width: 198px;
}

.cont-and-logo {
    width: 198px;
    margin-left: 300px;
}

.cont-and-logo img {
    width: auto;
    max-width: 100%;
    height: auto;
}

html,
body {
    overflow-x: hidden;
}

.container-slide-open {
    position: absolute;
    z-index: 999999;
    top: 70px;
    width: 100%;
}

.cont-and-logo h1 {
    font-family: 'Bender-Black';
    font-size: 26px;
    margin-top: 15px;
}

.appl-img img {
    width: auto;
    height: auto;
    position: absolute;

}

.appl-img .ims1 {
    width: 390px;
    margin-top: 38px;
    left: 0px;
}

.appl-img .ims2 {

    z-index: 88;
    position: absolute;
    top: 144px !important;
    width: auto;
    right: 28.2%;
}


.appl-img {
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 888;
}


.slider-slt .slick-list {
    overflow: visible !important;
}

img.img-responsive.ims3 {
    right: 14%;
    bottom: 244px;
}

img.img-responsive.ims4 {
    right: 20%;
}

img.img-responsive.ims5 {
    right: 0;
    top: 80px;
}

.pod-slider {
    margin-top: 70px;
}

section.slider-slt .slick-slide {
    position: relative !important;
}

.pod-slider h2 {
    font-size: 48px;
    background: linear-gradient(45deg, #f8ab00 12%, #ee5402 40%, #e81a03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ee5402;
    font-family: 'TTRounds-Black';
    margin-bottom: 0px;
    height: 55px;
}

.blk-ntl h3 {
    font-size: 48px;
    color: #ee5402;
    font-family: 'TTRounds-Black';
    position: absolute;
    margin-top: -27px;
}

.blk-ntl {
    background: #fbe1ca;
    margin-top: 31px;
    border-radius: 12px;
    min-height: 46px;
    width: 100%;
}


.smart-block {
    padding: 15px;
    padding-top: 34px;
    padding-bottom: 31px;
}

.all-btn {
    width: 100%;
    height: 54px;
    background: url(../img/all-btn.png) 0 0 no-repeat;
    text-align: center;
    display: block;
    color: #0066ff !important;
    font-size: 22px;
    letter-spacing: 1.1px;
    text-decoration: none !important;
    background-size: contain;
    padding-top: 14px;
    font-family: 'TTRounds-Black';
}

.slk-area span {
    color: #c7b2a0;
    margin-bottom: 6px;
    display: block;
    font-size: 12px;
    font-family: Arial;
}

.slk-area {
    margin-bottom: 35px;
    margin-top: 21px;
}

.smart-block p {
    color: #72655a;
    line-height: 18px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

}

section.slider-slt h4 {
    text-align: center;
    margin-top: 104px;
    font-size: 30px;
}

.cs-btn {
    width: 440px;
    height: 50px;
    background: url(../img/cs-btn.png) 0 0 no-repeat;
    background-size: contain;
    text-align: center;
    display: block;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 21px;
    margin: 0 auto;
    letter-spacing: 1.3px;
    padding-top: 15px;
    margin-top: 25px;
    font-family: 'TTRounds-Black';
}

section.pod-slider .col-md-9 .col-xs-4 {
    margin-top: 28px;
    margin-bottom: 18px;
}

section.pod-slider {
    position: relative;
}

.nr {
    background: url(../img/nr.png) 0 0 no-repeat;
    width: 100%;
    height: 9px;
    margin-top: 90px;
}


.cv1 {
    position: absolute;
    right: 0 !important;
    z-index: 11;
    bottom: -130px !important;
}

.cv2 {
    position: absolute;
    bottom: 45% !important;
}

.cv3 {
    position: absolute;
    right: 0;
    bottom: 57% !important;
}

.cl-block {
    width: 100%;
    height: 389px;
    background-color: #FFF;
    border-radius: 20px 0 20px 0;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    position: relative;
}


.pod-slider2 h4 {
    font-size: 48px;
    background: linear-gradient(45deg, #f8ab00 13%, #ee5402 36%, #e81a03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ee5402;
    font-family: 'TTRounds-Black';
    margin-bottom: 35px;
    padding-bottom: 10px;
}

.pod-slider2 {
    margin-top: 70px;
}


.form-control:focus {
    border-color: #989898;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: none;
}

.sl1 {
    width: 153px;
    height: 154px;
    background: url(../img/sl1.png) 0 0 no-repeat;
    position: absolute;
    margin-left: -11px;
    z-index: 888;
    margin-top: -11px;
}


.sl2 {
    width: 153px;
    height: 154px;
    background: url(../img/sl2.png) 0 0 no-repeat;
    position: absolute;
    margin-left: -11px;
    z-index: 888;
    margin-top: -11px;
}


.sl3 {
    width: 153px;
    height: 154px;
    background: url(../img/sl3.png) 0 0 no-repeat;
    position: absolute;
    margin-left: -11px;
    margin-top: -11px;
    z-index: 888;
}


.svs-1 {
    margin-left: 50px;
    margin-top: -16px;
    position: absolute;
}

.svs-2 {
    margin-left: 98px;
    margin-top: -16px;
    position: absolute;
    margin-right: auto;
}

.sv-block {
    position: absolute;
    bottom: 21px !important;
    left: 26px;
}

.sv-block h5 {
    font-size: 24px;
    color: #0060ff;
    text-decoration: underline;
    margin-bottom: 6px;
}

.sv-block:hover h5 {
    text-decoration: none;
}

.ngrs {
    position: absolute;
    margin-top: 42px;
}

.rl2 {
    position: absolute;
    right: 0 !important;
    top: -265px;
}

.content {
    padding-bottom: 424px;
}

img.img-responsive.rl1 {
    margin-top: -110px;
}

.bel-lk {
    float: right;
    margin-top: 27px;
    font-size: 14px;
}


.lego-heroes {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    font-size: 0;
    margin-top: -144px;
}

.lego-heroes li {
    padding: 0px;
    margin: 0 -15px;
    font-size: 16px;
    display: inline-block;
    vertical-align: bottom;
}


ul.lego-heroes:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: white;
    left: 0 !important;
    right: 0 !important;
    z-index: 11;
    margin-top: 138px;
    border-top: 1px solid #ccc;
}

img.img-responsive.rl1 {
    margin-top: -110px;

    z-index: 9999 !important;
    position: absolute;
}

.footer .container {
    margin-top: 56px;
}

.slider-slt {
    opacity: 0;
}

.second-area {
    margin-top: 55px;
}

.paggs a:hover {
    text-decoration: none;
}

.paggs {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 12px;
}

.second-area h2 {
    font-size: 48px;
    background: linear-gradient(45deg, #f8ab00 13%, #ee5402 36%, #e81a03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ee5402;
    font-family: 'TTRounds-Black';
    margin-bottom: 0px;
}


.fotorama__thumb-border {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    border-style: solid;
    border-color: #fbc300;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .25), rgba(64, 64, 64, .1));
    border-radius: 10px 0;
}


.fotorama__wrap {
    margin: 0 auto;
}

.nab-section p,
.nab-section li {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 27px;
    line-height: 1.2em;
}

.nab-section li {
    padding-left: 0px;
    list-style: square outside;
    line-height: 1em;
    margin-left: 30px;
}

.nab-section {
    margin-top: 20px;
}

.fotorama__wrap {
    margin: 0 auto;
    width: 100% !important;
}

.fotorama__nav-wrap {
    margin-top: -33px;
}

.pat-str {
    padding: 20px;
}

.pat-str {
    padding: 14px;
    padding-top: 25px;
}

.pat-str img {
    background-size: inherit !important;
    width: auto !important;
    object-fit: inherit !important;
    height: auto !important;
}


.pod-slider2 button.slick-prev.slick-arrow {
    border: 0;
}

img.svs-3 {
    width: 100% !important;
}

img.svs-4.img-responsive {
    width: 100% !important;
    position: absolute;
    margin-top: -14px;
}

.pod-slider2 button.slick-prev.slick-arrow {
    position: absolute;
    font-size: 0;
    background: url(../img/a1.png) 0 0 no-repeat;
    width: 34px;
    height: 63px;
    z-index: 8;
    margin-top: 207px;
    margin-left: -44px;
}

.pod-slider2 button.slick-next.slick-arrow {
    position: absolute;
    font-size: 0;
    background: url(../img/a2.png) 0 0 no-repeat;
    width: 34px;
    height: 63px;
    right: 0;
    z-index: 8;
    border: 0;
    margin-top: -330px;
    margin-right: -44px;
}

.second-area {
    position: relative;
}

.second-area .cv3 {
    position: absolute;
    right: 0;
    bottom: auto !important;
    top: 0%;
}


.second-area .cv2 {
    position: absolute;
    left: 0;
    bottom: auto !important;
    top: 9%;
}

.nab-section p:last-child {
    margin-bottom: 0;
}

.tb50 {
    width: 50%;
    float: left;
}

.tb50 p {
    margin-bottom: 10px;
    display: table;
    padding: 0 4px;
    position: relative;
}

.tb50 strong {
    font-weight: bold;
    display: block;
    background: #fff;
    padding-right: 6px;
}

.smphr {
    position: absolute;
    border-bottom: 1px dotted #000;
    width: 149px;
    bottom: 3px;
    left: 7px !important;
    z-index: -4;
}

.tb50 p {
    z-index: 2;
    background: #fff;
}

section.second-area {
    margin-bottom: -60px;
}


section.second-area {
    min-height: 420px;
}

.date-ls {
    font-family: Arial;
    color: #cacaca;
    margin-top: 12px;
}

img.img-responsive.ns-img {
    margin-bottom: 50px;
    margin-top: 32px;
}


.cvk img {
    border-radius: 15px 0;
    float: left;
    object-fit: cover;
    margin-bottom: 16px;
    margin-right: 16px !important;
}

.no-padd-right {
    padding-right: 0 !important;
}

.cvk img {
    cursor: pointer;
}









#Choco_overlay {
    background: rgba(0, 0, 0, .8) !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: none;
    padding: 0;
    margin: 0;
}

#Choco_content {
    display: none;
    width: 800px;
    height: 600px;
    z-index: 1001;
    position: fixed;
    left: 50%;
    overflow: visible !important;
    top: 50%;
    margin-left: -400px;
    margin-top: -300px;
    border-top: 1px solid transparent;
    /*Yes, adjust image perfectly at the center of a box, don't know why.*/
}

#Choco_left_arrow {
    float: left;
    background-image: url(../img/leftw.gif) !important;
    background-position: 12%;
    left: -14%;
}

span#Choco_container_via {
    display: none !important;
}

span#Choco_container_title {
    display: none !important;
}

#Choco_right_arrow {
    float: right;
    background-image: url(../img/rightw.gif) !important;
    background-position: 88%;
    left: 14%;
}

.Choco_arrows {
    background-repeat: no-repeat;
    display: none;
    position: relative;
    cursor: pointer;
    width: 49%;
    top: -100%;
    height: 100%;
    margin-top: -30px;
}

#Choco_container_photo {
    text-align: center;
    width: 800px;
    height: 600px;
    /*background:url(../img/ajax-loader.gif) center center no-repeat;*/
}

#Choco_container_description {
    padding: 0;
    height: 26px;
    width: 100%;
    color: #505050;
    font-family: Tahoma;
    clear: both;
    position: relative;
    font-size: 12px;
    margin-top: -5px;
    overflow: hidden;
    visibility: hidden;
}

#Choco_container_title {
    float: left;
    padding: 5px;
}

#Choco_container_via {
    padding: 5px;
    float: right;
}

#Choco_container_via a {
    color: gray;
}

#Choco_container_via a:hover {
    color: white;
    background: gray;
}

#Choco_close {
    width: 12px;
    height: 25px;
    background-image: url(../img/closew.gif) !important;
    background-repeat: no-repeat;
    z-index: 1002;
    cursor: pointer;
    margin-top: -20px;
    display: none;
    right: 0 !important;
    float: right;
}

#Choco_loading {
    width: 9px;
    height: 11px;
    background-image: url(../img/loadingw.gif) !important;
    background-repeat: no-repeat;
    z-index: 1002;
    cursor: pointer;
    float: right;
    margin-top: -20px;
    display: none;
}

#Choco_bigImage {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -5px;
}

p#example1 img {
    margin-right: 0.8px;
}

.szl-area img {
    height: 115px;
}

p#example1 a:last-child img {
    margin-right: 0 !important;
}

#Choco_right_arrow,
#Choco_left_arrow {
    background-size: 26px;
}



#Choco_right_arrow,
#Choco_left_arrow {
    z-index: 111111;
    position: relative !important;
}

#Choco_close {
    width: 25px;
    height: 23px;
    background-image: url(../img/closew.gif) !important;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1111112 !important;
    cursor: pointer;
    margin-top: 10px;
    display: none;
    right: 0 !important;
    float: right;
    margin-right: 6px;
}

#Choco_right_arrow {
    float: right;
    background-image: url(../img/rightw.gif) !important;
    background-position: 89% 44%;
    left: auto;
    top: 78px !important;
    position: fixed !important;
    right: 0 !important;
    width: 5% !important;
}

#Choco_left_arrow {
    float: left;

    background-position: 11% 44%;
    left: 0 !important;
    top: 0 !important;
    position: fixed !important;
    right: auto !important;
    width: 5% !important;
    top: 78px !important;
}

.cbrx2 {
    margin-bottom: 54px;
}


.cbrx1 {
    margin-top: 33%;
}

.no-slide-area .cont-and-logo {
    width: 299px;
    margin-left: 107px;
    margin-top: -54px;
}

.no-slide-area .appl-img .ims1 {
    width: 322px;
    margin-top: 127px;
    left: 20%;
    margin-left: 0;
}

.no-slide-area .appl-img .ims2 {
    z-index: 88;
    position: absolute;
    top: 102px !important;
    width: auto;
    right: 40.5%;
}

.no-slide-area .slick-slide .tkls {
    height: 658px;
}

.no-slide-area img.img-responsive.ims4 {
    right: 13%;
}

.no-slide-area .s2w-hds {
    position: absolute;
    width: 700px;
    height: 100%;
    background: url(../img/s3.png) 0 0 no-repeat;
    background-position: left;
    margin-left: -181px;
    z-index: 99;
    background-size: cover;
}

.no-slide-area .s3w-hds {
    position: absolute;
    right: 0;
    width: 700px;
    height: 100%;
    background: url(../img/s2.png) 0 0 no-repeat;
    background-position: right;
    margin-right: -179px;
    z-index: 99;
    background-size: cover;
}

.no-slide-area .slide-img-area {
    border-bottom: 0px solid #CCCCCC !important;
}

.nav-pills {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    /* добавляем блочность, если необходимо */
    font-size: 0;
    /* убираем нежелательные отсутпы у дочерних элементов */
}



.nav-pills>li>a {
    border-radius: 4px;
    text-transform: uppercase;
}



.nav-pills li {
    padding: 0px;
    margin: 0 0px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    float: none !important;
    background: #ffffff;
}

.nav-pills>li>a {
    font-size: 14px;
}


.nav-pills>li+li {
    margin-left: 0px;
}

.nav-pills>li+li {
    margin-left: 0px;
    border: 0px solid #FBC300;
    border-right: 0;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #eee;
    background: none !important;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #000;
    background-color: #333;
    background: none !important;
}

div#exTab3 li.active {
    background: #FBC300 !important;
}

div#exTab3 h3 {
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.svvb .col-sm-6 {
    margin-bottom: 30px;
}

section.pod-slider2.svvb {
    margin-bottom: -35px;
    margin-top: 45px;
}

section.pod-slider2.svvb img {
    margin: 0 auto;
    padding-top: 19px;
}

@media (max-width: 991px) {

    body .nav-pills>li:first-child,
    body .nav-pills>li:last-child {
        border-radius: 0 !important;
    }

    .nav-pills>li {
        border-right: 0px solid #FBC300 !important;
        margin-bottom: 10px;
    }
}

section.slider-slt.no-slide-area .cv3 {
    position: absolute;
    right: 0;
    bottom: auto;
    top: 33%;
}

section.slider-slt.no-slide-area .cv2 {
    position: absolute;
    bottom: auto;
    top: 36%;
}

.stls-area img {
    width: 100%;
}

.secs-sl h2 {
    background: linear-gradient(45deg, #f8ab00 3%, #ee5402 16%, #e81a03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ee5402;
}

.row.stls-area a {
    width: 100% !important;
    margin-top: 30px;
}

.lg2 {
    position: absolute;
    bottom: 2%;
}

.lg3 {
    position: absolute;
    right: 0;
    top: 38%;
}

.lg1 {
    position: absolute;
    top: 35%;
}

.contacts-area h2 {
    background: linear-gradient(45deg, #e81a03 2%, #f8ab00 32%, #f8ab00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ee5402;
}

.rs-pan {
    margin-top: 50px;
}

p.pvls {
    font-size: 36px;
    font-family: 'TTRounds-Black';
}

.row.rs-pan a {
    font-size: 36px;
    color: #068af0;
    font-family: 'TTRounds-Black';
    text-decoration: underline;
}

.row.rs-pan a:hover {
    text-decoration: none;
}

section.second-area.contacts-area .cv2 {
    position: absolute;
    left: 0;
    bottom: auto !important;
    top: 21%;
}

.pvls2 {
    font-size: 18px;
}

#map {
    width: 100%;
    height: 420px;
    display: block;
    margin: auto;
    position: relative;
    margin-top: 50px;
}

.psv-area h3 {
    font-size: 48px;
    font-family: 'TTRounds-Black';
}

.psv-area {
    margin-top: 70px;
}

.form-row .sv1 {
    height: 52px;
}

.form-row {
    margin-top: 40px;
}

.mx-input input {
    max-width: 345px;
    background: #f0f0f0;
    height: 33px;
    width: 100%;
    border: 0 !important;
    border-radius: 6px;
    margin-top: -8px;
    padding-left: 15px;
    margin-bottom: 26px;
}

.mx-input span {
    display: block;
    margin-top: -12px;
}

.mx-text textarea {
    background: #F0F0F0 !important;
    border: 0 !important;
    border-radius: 6px;
    width: 100%;
    height: 252px;
    max-width: 100%;
    max-height: 252px;
    padding: 15px;
}

.mx-text span {
    display: block;
    margin-top: 9px;
}

.mx-input label {
    display: block;
    margin-bottom: 14px;
    margin-top: -11px;
}

.mx-text label {
    display: block;
    margin-bottom: 14px;
}

.btn-area-form {
    margin-top: 25px;
}

.btn-area-form button {
    font-family: 'Open Sans', sans-serif;
    background: rgb(248, 127, 64);
    background: -moz-linear-gradient(top, rgba(248, 127, 64, 1) 0%, rgba(224, 65, 64, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(248, 127, 64, 1) 0%, rgba(224, 65, 64, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 127, 64, 1) 0%, rgba(224, 65, 64, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f87f40', endColorstr='#e04140', GradientType=0);
    display: inline-block;
    padding: 16px 27px;
    font-size: 18px;
    border: 0 !important;
    border-radius: 6px;
    margin-right: 10px;
    color: #af4930;
    font-weight: 600;
}

.btn-area-form {
    color: #ae9999;
}

.mx-input input:focus,
.mx-text textarea:focus {
    border: 1px solid #ADADAD !important;
}


.news-block-s {
    clear: both;
    margin-bottom: 59px;
    font-size: 18px;
    margin-top: 58px;
}

.news-area-s .table-nv {
    margin-left: 0;

    margin-top: 19px;
}

.news-area-s p {
    line-height: 1.3em;
    font-family: 'Open Sans', sans-serif;
}

.date-art {
    font-size: 12px;
    margin-bottom: 14px;
    color: #ae9999;
    font-family: Arial;
}

.news-area-s {
    max-width: 669px;
}

.news-area-s .cvk img {
    border-radius: 15px 0;
    float: left;
    object-fit: cover;

    margin-right: 6px !important;
}


@media (max-width: 991px) {
    .news-area-s .cvk img {
        width: auto !important;
        margin-right: 7px !important;
        height: auto !important;
    }

    .news-area-s .cvk img {
        margin-bottom: 10px !important;
    }

}

p.example1 {
    height: 132px !important;
}

.txt-ls {
    font-size: 18px;
    margin-top: 15px;
    line-height: 1.3em;
    margin-bottom: 15px;
}


.video-area img {
    border: 1px solid #FBC300;
    border-radius: 16px 0;
}

.modal-body iframe {
    width: 100%;
    height: 300px;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
    font-size: 29px;
    margin-bottom: 10px;
}

.lgv1 {
    position: absolute;
    ;
}

.lgs2 {
    position: absolute;
}

.lgs3 {
    position: absolute;
}

.lgs3 {
    right: 0 !important;
    top: 46%;
}

.lgs2 {
    position: absolute;
    right: 0 !important;
    top: 17%;
}

.lg2.lgv2 {
    position: absolute;
    bottom: auto;
    top: 26% !important;
}

.lgv1 {
    position: absolute;
    top: auto;
    bottom: 15%;
}


.nav-pills li:first-child {
    border-right: 0 !important;
}


section.no-slide-area {
    margin-bottom: -200px !important;
}



.search-nls input {
    box-shadow: none !important;
    border: 0 !important;
}

@media (min-width: 1200px) {
    header .col-sm-5 {
        padding-left: 0 !important;
    }


    nav li a {
        color: #000 !important;
    }

}

@media (max-width: 767px) {
    .pod-slider h2 {
        height: 70px !important;
    }

    .footer {
        border-top: 0 !important;
    }
}


.second-area h2 {
    padding-bottom: 10px;
}


.hover-lb:hover {}

@media (min-width: 1200px) {
    .no-slide-area .s2w-hds {
        position: absolute;
        width: 700px;
        height: 100%;
        background: url(../img/s1w.png) 0 0 no-repeat;
        background-position: left;
        margin-left: -8px;
        z-index: 99;
        background-size: cover;
    }

    .no-slide-area .s3w-hds {
        position: absolute;
        right: 0;
        width: 700px;
        height: 100%;
        background: url(../img/s2w.png) 0 0 no-repeat;
        background-position: right;
        margin-right: -8px;
        z-index: 99;
        background-size: cover;
    }

    .no-slide-area .s4-hds {
        position: absolute;
        right: auto;
        width: 100%;
        height: 199px;
        background: url(../img/s3w.png) 0 0 no-repeat;
        background-position: bottom;
        top: -5px !important;
        z-index: 99;
    }

    section.slider-slt.no-slide-area .container {
        width: 1270px !important;
    }

    .no-slide-area .s1-hds {
        position: absolute;
        right: auto;
        width: 100%;
        height: 239px;
        background: url(../img/s4w.png) 0 0 no-repeat;
        background-position: top;
        bottom: -49px !important;
        z-index: 2;
    }

    .no-slide-area .cont-and-logo {
        width: 270px;
        margin-left: 183px;
        margin-top: -5px;
    }

    .no-slide-area img.img-responsive.ims4 {
        margin-top: 35px;
    }

    .no-slide-area .appl-img .ims1 {

        margin-top: 153px !important;

    }


    .no-slide-area .appl-img {
        width: 100%;
        height: 600px;
        position: absolute;
        z-index: 888;
        margin-top: 26px;
    }

    .no-slide-area img.img-responsive.ims4 {
        right: 17%;
        width: 322px;
        margin-top: 152px;
    }

    section.slider-slt.no-slide-area .cv3 {
        z-index: 88;
    }



    section.no-slide-area {
        margin-bottom: -252px !important;
        margin-top: 10px !important;
    }

    nav {
        width: 775px;
        float: right;
    }

    nav li a {
        font-size: 17px;
    }

}


@media (max-width: 1199px) {
    .no-slide-area .s2w-hds {
        position: absolute;
        width: 700px;
        height: 100%;
        background: url(../img/s1w.png) 0 0 no-repeat;
        background-position: left;
        margin-left: -8px;
        z-index: 99;
        background-size: cover;
    }

    .no-slide-area .appl-img .ims2 {
        display: none !important;
    }

    .no-slide-area .s3w-hds {
        position: absolute;
        right: 0;
        width: 700px;
        height: 100%;
        background: url(../img/s2w.png) 0 0 no-repeat;
        background-position: right;
        margin-right: -8px;
        z-index: 99;
        background-size: cover;
    }

    .no-slide-area .s4-hds {
        position: absolute;
        right: auto;
        width: 100%;
        height: 199px;
        background: url(../img/s3w.png) 0 0 no-repeat;
        background-position: bottom;
        top: -5px !important;
        z-index: 99;
    }

    .no-slide-area .s1-hds {
        position: absolute;
        right: auto;
        width: 100%;
        height: 239px;
        background: url(../img/s4w.png) 0 0 no-repeat;
        background-position: top;
        bottom: -49px !important;
        z-index: 2;
    }
}

.hover-lb:before {
    width: 210px;
    position: absolute;
    content: '';
    height: 2px;
    background: linear-gradient(45deg, #f8ab00 13%, #ee5402 36%, #e81a03);
    margin-top: 48px;

}

a.hover-lb:hover:before {
    height: 0;
}

@media (max-width: 767px) {
    .hover-lb:before {
        width: 148px;
        position: absolute;
        content: '';
        height: 2px;
        background: linear-gradient(45deg, #f8ab00 13%, #ee5402 36%, #e81a03);
        margin-top: 35px;
    }
}

@media (max-width: 991px) {
    .pat-str .svs-2 {
        margin: 0 auto !important;
    }

    .sv-block {
        position: absolute;
        bottom: 0 !important;
        left: 0;
        background: #fff;
        width: 100% !important;
        padding: 12px;
        border-radius: 0;
        margin-bottom: -14px;
    }

}


a.hvr-bob2 {
    margin-top: 30px;
    display: block;
    position: relative;
}

.stls-area img {
    width: 100%;
    border-radius: 24px 0;
}

.stls-area img {
    object-fit: cover;
    height: 155px;
}

img.img-responsive.szx {
    position: relative;
    top: 29px !important;
    width: 100% !important;
    height: auto !important;
    border-radius: 0 !important;
    left: auto;
    right: auto !important;

}


.szz {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 25px;
    transition: 0.3s all;
}

.szz:hover {
    padding: 10px !important;
    margin-top: 10px !important;

}



.pod-slider a.hvr-bob2 img {
    height: 153px;
    border-radius: 23px 0;
    object-fit: cover;
    width: 100%;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.mejs__container * {
    width: 100%;
    height: 100%;
}


.pat-str .svs-2 {
    margin-left: 16px;
    margin-top: 0px;
    position: relative;
    margin-right: auto;
    width: 237px;
    margin-left: 0px !important;
    padding-top: 2px;

}

.cl-block {
    overflow: hidden;
}

.sv-block {
    position: absolute;
    bottom: 0 !important;
    left: 0;
    background: #fff;
    width: 100% !important;
    padding: 12px;
    border-radius: 14px 0;
}


.cl-block {
    height: 521px;
}

section.pod-slider2.svvb img {
    max-height: 100%;
    padding-bottom: 72px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /* Safari and Chrome */
    -moz-transform: translate(-50%, -50%);
    /* Firefox */
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -o-transform: translate(-50%, -50%);
    /* Opera */
    // I suppose you may like those too:
    // max-width: 80%;
    // max-height: 80%;
}

@media (max-width: 991px) {
    .pat-str .svs-2 {
        margin: 0 auto !important;
    }



}

.pat-str .svs-2 {
    padding-top: 13px !important;
}

.pat-str .svs-2 {
    max-height: 100% !important;
    padding-bottom: 73px;
    margin: 0 auto !important;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /* Safari and Chrome */
    -moz-transform: translate(-50%, -50%);
    /* Firefox */
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -o-transform: translate(-50%, -50%);
    /* Opera */
    // I suppose you may like those too:
    // max-width: 80%;
    // max-height: 80%;
}

.fotorama__thumb-border {
    border-radius: 0 !important;
}

.fotorama__thumb.fotorama__loaded.fotorama__loaded--img img {
    height: 98% !important;
    width: 98% !important;
    object-fit: cover !important;
    top: 0 !important;
}


img.img-responsive.szx {
    position: relative;
    top: 29px !important;
    width: 94% !important;
    height: auto !important;
    border-radius: 0 !important;
    left: auto;
    right: auto !important;
    display: block;
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}



.cl-block img {
    max-height: 100%;
    padding-bottom: 72px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    margin-left: 0 !important;
    margin-top: 0 !important;
}


.sub-catalog-txt {
    position: relative;
    margin-top: 138px;
    max-width: 1000px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.62);
    padding: 20px;
    line-height: 20px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    border-radius: 20px 0 20px 0;
}

@media (min-width: 1200px) {
    section.no-slide-area {
        margin-bottom: -131px !important;
        margin-top: 10px !important;
    }

    body .no-slide-area .appl-img .ims2 {
        z-index: 88;
        position: absolute;
        top: auto !important;
        width: auto;
        right: 37.2%;
        bottom: 69px !important;
    }
}